@media (min-width: 540px){
    .section-top-name{
        font-size: 60px;
    }
    #section-newsletter-text{
        font-size: 40px;
    }
}

@media(max-width: 910px){
    #navbar{
        flex-direction: column;
        padding: 10px 0;
    }
}

@media(max-width: 470px){
    #navbar-logo{
        font-size: 40px;
        margin: 30px auto 20px auto;
    }
    #navbar-ul{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section-top-post-text{
        font-size: 13px;
    }
}

@media(max-width: 600px){
    .section-top-post-name{
        font-size: 25px;
        line-height: 32px;
    }
}

@media(max-width: 940px){
    #section-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section-top-post{
        width: 100%;
        max-width: none;
    }
    .section-top-name{
        margin: 20px;
    }
    .section-top-post-name{
        width: 100%;
        text-align: center;
    }
    .section-top-post-text{
        text-align: center;
        padding: 0 20px;
    }
    #section-top-image{
        width: 100%;
        max-width: none;
    }
    #footer-ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1080px){
    #section-top{
        justify-content: center;
        width: 100%;
    }
    .section-mid-column{
        width: 100%;
        justify-content: start;
        max-width: none;
        height: auto;
    }
    .section-mid-image{
        width: 100%;
        max-width: none;
        height: 50vh;
    }
    #section-categories{
        justify-content: space-around;
    }
    .section-category{
        width: 100%;
        max-width: none;
        margin: 10px auto;
        min-height: 0;
    }
    .section-category > img{
        max-width: none;
        width: 100%;
        height: auto;
    }
    #section-quotes-text{
        padding: 0 15px;
    }
    #section-article{
        justify-content: center;
        flex-direction: column-reverse;
    }
    #section-article > img{
        max-width: none;
        width: 100%;
        height: auto;
    }
    #section-article-text{
        width: 100%;
        max-width: none;
    }
}

@media(max-width: 680px){
    #section-quotes-top{
        justify-content: space-around;
        align-items: center;
    }
    #section-quotes-top > li{
        margin: 10px;
    }
    footer{
        margin: 40px auto;
    }
}