@media (min-width: 540px){
    .section-top-name{
        font-size: 60px;
    }
    #section-newsletter-text{
        font-size: 40px;
    }
}

@media(max-width: 910px){
    #navbar{
        flex-direction: column;
        padding: 10px 0;
    }
}

@media(max-width: 470px){
    #navbar-logo{
        font-size: 40px;
        margin: 30px auto 20px auto;
    }
    #navbar-ul{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 600px){
    .section-top-post-name{
        font-size: 25px;
        line-height: 32px;
    }
    .section-top-post-text{
        font-size: 16px;
    }
}

@media(max-width: 940px){
    #section-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section-top-post{
        width: 100%;
        max-width: none;
    }
    .section-top-post-name{
        width: 100%;
        text-align: center;
    }
    .section-top-post-text{
        width: 100%;
        text-align: center;
    }
    #section-top-image{
        width: 100%;
        max-width: none;
    }
}

@media(max-width: 1080px){
    #section-top{
        justify-content: center;
        width: 100%;
    }
    .section-mid-column{
        width: 100%;
        justify-content: center;
        max-width: none;
    }
    .section-mid-image{
        width: 100%;
        max-width: none;
        height: 50vh;
    }
}