html{
    scroll-behavior: smooth;    
}
body{
	margin: auto;
    font-family: "Open Sans";
    cursor: default;
}

@font-face {
    font-family: 'Audiowide', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Rambla', sans-serif;
    font-family: 'Scada', sans-serif;
}

#arrowTop {
    font-size: 40px;
    color: black;
    position: fixed;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
}
.no-padding{
    padding: 0 !important;
}
.no-border{
    border: none !important;
}
.hide{
    display: none !important; 
}

/*--- navbar ---*/
.navbar-mode-switcher{
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 10px 8px 6px 8px;
    border-bottom: 4px solid white;
    transition: inherit;
    text-transform: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    transition: 0.3s;
}
.navbar-mode-switcher:hover{
    border-bottom-color: black;
}
#navbar-light-button{
}
#navbar-light-button:hover{
    background-color: inherit;
    color: inherit;
}

#navbar-dark-button{
    color: white;
    border-bottom-color: black;
}
#navbar-dark-button:hover{
    background-color: white;
    color: black;
    border-bottom-color: white;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    max-width: 1140px;
    margin: 0 auto;
}
#navbar-ul-dropdown-list {
    font-size: 18px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 0 !important;
    cursor: pointer;
}
#navbar-ul-dropdown-list:hover{
    background-color: white !important;
}
#navbar-ul-dropdown-button{
    font-size: inherit;  
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    padding: 0;
    text-transform: inherit;
    font-weight: inherit;
    color: black;
    cursor: pointer;
}
#navbar-ul-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}
#navbar-ul-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    background-color: white;
}
#navbar-ul-dropdown-list:hover #navbar-ul-dropdown-content {
    display: block;
}
#navbar-logo{
    color: black;
    font-weight: 500;
    font-size: 60px;
    font-family: "Exo 2";
    transition-duration: 0.2s;
}
#navbar-logo:hover{
    cursor: pointer;
} 
#navbar-ul{
    margin: 0;
    padding: 0;
}
.navbar-ul-element{
    display: inline-block;
    margin: 0 11px !important;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
    margin: auto 0;
    letter-spacing: 1px;
    padding: 10px 8px 6px 8px;
    border-bottom: 4px solid white;
    cursor: pointer;
}
.navbar-ul-element:hover{
    background-color: black;
    transition-duration: 0.3s;
    border-radius: 3px;
    color: white;
    border-bottom: 4px solid black;
}
#navbar-ul > .chosen{
    border-bottom: 4px solid black;
}

/*-------Header-------*/
header{
    max-width: 1140px;
    margin: auto;
    margin-top: 70px;
}

#main-header{
    width: 100%;
    max-height: 550px;
    height: 100%;
}
#main-header-image{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    max-height: 550px;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

/*-------Section-------*/
section{
    max-width: 1140px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#section-top{
    max-width: 1140px;
    width: 100%;
    min-height: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section-top-post{
    max-width: 390px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-top-post-name{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 66px;
}
.section-top-post-text{
    font-size: 15px;
    line-height: 30px;
}
.section-top-post-readmore{
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#section-top-image{
    display: block;
    object-fit: cover;
    max-width: 540px;
    width: 100%;
    max-height: 260px;
}

#section-mid{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.section-mid-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
    max-width: 540px;
    max-height: 1000px;
}
.section-mid-image{
    max-width: 540px;
    width: 100%;
    height: 560px;
    object-fit: cover;
    display: block;
}
.section-top-name{
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    text-transform: uppercase;
}
#section-newsletter{
    background-image: url("./images/party.jpg");
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section-newsletter-text{
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
}
#section-newsletter-button{
    padding: 10px 40px;
    margin-top: 16px;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    text-transform: uppercase;
    border: none;
    font-family: "Open Sans";
    cursor: pointer;
    transition: 0.3s;
}
#section-newsletter-button:hover{
    background-color: black;
    transition: 0.4s;
}
#section-newsletter-button-anchor{
    text-decoration: none; 
    color: black;
}#section-newsletter-button-anchor:hover{
    color: white;
}
#section-quotes{
    max-width: 1140px;
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section-quotes-top{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}
#section-quotes-top > li{
    margin: 0 30px;
    font-family: "Scada";
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}
#section-quotes-text{
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    max-width: 880px;
}
#section-categories{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
}
.section-category{
    min-height: 470px;
    max-width: 360px;
    width: 100%;
}
.section-category > img{
    display: block;
    object-fit: cover;
    max-height: 470px;
    max-width: 360px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
#section-article{
    margin-top: 110px;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section-article > img{
    display: block;
    max-width: 540px;
    max-height: 590px;
    object-fit: cover;
}
#section-article-text{
    max-width: 540px;
    width: 100%;
}
#section-article-image{
    display: block;
    object-fit: cover;
    max-width: 1140px;
    width: 100%;
    max-height: 480px;
}
#section-table{
    justify-self: center;
    margin-top: 50px;
    width: 100%;
    max-width: 700px;
}
.section-table-item{
    text-align: center;
    background-color: black;
    color: white;
    height: 10vh;
}
#section-form{
    margin-top: 50px;
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.section-form-text-input{
    height: 30px;
}
.section-form-phone-input{
    height: 30px;
}
#section-form-notes{
    height: 60px;
}
#section-form-subscribe-type{
    height: 30px;
    color: black;
}
#section-form-submit{
    text-transform: uppercase;
    padding: 6px 10px;
    width: 100%;
    max-width: 100px;
    max-height: 30px;
    background-color: gold;
    border-radius: 10px;
    font-family: "Open Sans";
    border: none;
    align-self: center;
    transition: 0.3s;
}
#section-form-submit:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s;
}

/*-----Footer-----*/
footer{
    max-width: 1140px;
    margin: 140px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer-ul{
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
#footer-ul > li{
    margin: 0 25px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px white solid;
}
#footer-ul > li:hover{
    transition: 0.5s;
    border-bottom: 2px black solid;
}
#footer-text{
    text-align: center;
    max-width: 960px;
}
#footer-ul-media{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    padding: 0;
}
.footer-media{
    height: 40px;
    width: 40px;
    margin: 0 20px;
    border-radius: 5px;
}
.footer-media-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*--- dark mode ---*/

.dark-mode#navbar{
    background-color: black;
    color: white;
}
.dark-mode#navbar-logo{
    color: white;
}
.dark-mode.chosen{
    border-bottom-color: white !important;
}
.dark-mode.navbar-ul-element{
    border-bottom-color: black;
}
.dark-mode.navbar-ul-element:hover{
    color: black;
    background-color: white;
    border-bottom-color: white;
}
.dark-mode#navbar-ul-dropdown-button{
    background-color: black;
    color: white;
}
.dark-mode#navbar-ul-dropdown-content > a{
    color: white;
    background-color: black;
}