body{
	margin: auto;
    font-family: "Open Sans";
    cursor: default;
}

/*-------Header-------*/
header{
    max-width: 1140px;
    margin: auto;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding: 94px 0 78px 0;
}
#navbar-logo{
    color: black;
    font-weight: 500;
    font-size: 60px;
    transition-duration: 0.5s;
}
#navbar-logo:hover{
    color: white;
    background-color: red;
    transition-duration: 0.5s;
}
#navbar-ul{
    margin: 0;
    padding: 0;
}
#navbar-ul li{
    display: inline-block;
    margin: 0 11px !important;
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.3s;
    margin: auto 0;
    letter-spacing: 1px;
    padding: 10px 8px 6px 8px;
    border-bottom: 4px solid white;
}
#navbar-ul li:hover{
    background-color: black;
    transition-duration: 0.3s;
    border-radius: 3px;
    color: white;
    border-bottom: 4px solid black;
}
#navbar-ul > .chosen{
    border-bottom: 4px solid black;
}
#main-header{
    width: 100%;
    max-height: 550px;
    height: 100%;
}
#main-header-image{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    max-height: 550px;
    padding: 0;
    margin: 0;
    object-fit: cover;
}

/*-------Section-------*/
section{
    max-width: 1140px;
    margin: auto;
    margin-top: 10%;
}
#section-top{
    max-width: 1140px;
    width: 100%;
    min-height: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section-top-post{
    max-width: 390px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-top-post-name{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 66px;
}
.section-top-post-text{
    font-size: 15px;
    line-height: 30px;
}
.section-top-post-readmore{
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#section-top-image{
    display: block;
    object-fit: cover;
    max-width: 540px;
    max-height: 260px;
}

#section-mid{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-mid-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
    max-width: 540px;
    max-height: 1000px;
}
.section-mid-image{
    width: 540px;
    height: 560px;
    object-fit: cover;
    display: block;
}
.section-top-name{
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
}
#section-newsletter{
    background-image: url("./images/party.jpg");
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section-newsletter-text{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px gold;
}
#section-newsletter-button{
    padding: 10px 40px;
    margin-top: 16px;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    border: none;
}
#section-quotes{
    max-width: 1140px;
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section-quotes-top{
    display: flex;
    list-style: none;
}
#section-quotes-top > li{
    margin: 0 30px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}
#section-quotes-text{
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    max-width: 880px;
}
#section-categories{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
}
.section-category{
    min-height: 470px;
    max-width: 360px;
    width: 100%;
    background-color: black;
}
.section-category > img{
    display: block;
    object-fit: cover;
    max-height: 470px;
    max-width: 360px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
#section-article{
    margin-top: 110px;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section-article > img{
    display: block;
    max-width: 540px;
    max-height: 590px;
    object-fit: cover;
}
#section-article-text{
    max-width: 540px;
}


/*-----Footer-----*/
footer{
    max-width: 1140px;
    margin: 140px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer-ul{
    list-style: none;
    flex-wrap: wrap;
}
#footer-ul > li{
    margin: 0 25px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}
#footer-text{
    text-align: center;
    max-width: 960px;
}
#footer-ul-media{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 50px;
}
.footer-media{
    height: 40px;
    width: 40px;
    background-color: black;
    margin: 0 20px;
}